flows/test_flows_py_venv.json
[{"id":"4bd7a55b.35b01c","type":"tab","label":"Python Virtual Environmenmt","disabled":false,"info":"# Python Virtual Environment Test\n * Add a script that starts the python3 environment"},{"id":"9ded419a.f63288","type":"tab","label":"Python Virtual Environmenmt","disabled":false,"info":"# Python Virtual Environment Test\n * Add a script that starts the python3 environment"},{"id":"19cea031.655068","type":"tab","label":"Install Py Packages","disabled":false,"info":""},{"id":"806752c6.bd208","type":"tab","label":"Create exec py script","disabled":false,"info":""},{"id":"4fa4d862.8d09a8","type":"tab","label":"USGS EQ Details","disabled":false,"info":""},{"id":"cc9b37d3.f487f","type":"tab","label":"USGS EQ Dashboard","disabled":false,"info":""},{"id":"4e4cce96.07e268","type":"tab","label":"Geonet Details","disabled":false,"info":""},{"id":"2968d4c8.cdc7ec","type":"tab","label":"GeoNet Dashboard","disabled":false,"info":""},{"id":"22336b2d.3782bc","type":"tab","label":"First Py Test","disabled":false,"info":""},{"id":"5ebf6878.8d8a4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Earthquake Info","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"63cf7574.e2c72c","type":"ui_tab","z":"","name":"USGS EQ Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"c06e0775.048bb","type":"ui_group","z":"","name":"Map","tab":"63cf7574.e2c72c","order":1,"disp":false,"width":"14","collapse":false},{"id":"25a68acf.96bfb6","type":"ui_group","z":"","name":"EQ Frequency","tab":"63cf7574.e2c72c","order":3,"disp":false,"width":"10","collapse":false},{"id":"9c06d405.abbd5","type":"cloudant","z":"","host":"http://localhost:1880","name":""},{"id":"5098509a.59c698","type":"twitter-credentials","z":"","screen_name":"sahanasambro"},{"id":"af627022.d4ff4","type":"ui_group","z":"","name":"Latest Tweets","tab":"63cf7574.e2c72c","order":2,"disp":true,"width":"10","collapse":false},{"id":"13cc5f7e.2d9ac1","type":"cloudantplus","z":"","host":"http://localhost:1880","name":""},{"id":"2c35fc0b.1d7574","type":"ui_tab","z":"","name":"GeoNet Dashboard","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"f911df.be7f262","type":"ui_group","z":"","name":"Intensity Map","tab":"2c35fc0b.1d7574","order":1,"disp":true,"width":"14","collapse":true},{"id":"1297f633.86fb2a","type":"inject","z":"4bd7a55b.35b01c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":120,"wires":[["d83abf4f.c43f8"]]},{"id":"52620104.ea8da","type":"comment","z":"4bd7a55b.35b01c","name":"Bash file to create and activates an environment","info":"","x":360,"y":60,"wires":[]},{"id":"d83abf4f.c43f8","type":"template","z":"4bd7a55b.35b01c","name":"bash script","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"#!/bin/bash\n\ncd ~/workspace/envs/seismo\nls -l\npython3 -m venv envtest\nsource envtest/bin/activate\nls -l\nwhich python","output":"str","x":270,"y":120,"wires":[["5f9bf6e.8b38608"]]},{"id":"5f9bf6e.8b38608","type":"file","z":"4bd7a55b.35b01c","name":"create_env.sh","filename":"~/workspace/envs/seismo/create_env.sh","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":460,"y":120,"wires":[["852272b0.841ae8"]]},{"id":"852272b0.841ae8","type":"debug","z":"4bd7a55b.35b01c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":120,"wires":[]},{"id":"c6c72fbd.9d5f9","type":"comment","z":"4bd7a55b.35b01c","name":"Make the bash file executable","info":"","x":300,"y":180,"wires":[]},{"id":"d9482ea1.e62c5","type":"inject","z":"4bd7a55b.35b01c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":240,"wires":[["f11db1b5.5a4e1"]]},{"id":"f11db1b5.5a4e1","type":"exec","z":"4bd7a55b.35b01c","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"make create_env.sh executable","x":310,"y":240,"wires":[["a831d201.6da0e"],["a831d201.6da0e"],["a831d201.6da0e"]]},{"id":"a831d201.6da0e","type":"debug","z":"4bd7a55b.35b01c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":240,"wires":[]},{"id":"ee1ba691.fc5ff","type":"inject","z":"9ded419a.f63288","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":120,"wires":[["54d5da45.fd09fc"]]},{"id":"19ef76ab.344529","type":"comment","z":"9ded419a.f63288","name":"Bash file to create and activates an environment","info":"","x":360,"y":60,"wires":[]},{"id":"54d5da45.fd09fc","type":"template","z":"9ded419a.f63288","name":"bash script","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"#!/bin/bash\n\ncd /home/nuwan/workspace/seismo\nls -l\npython3 -m venv testenv\nsource testenv/bin/activate\nls -l\nwhich python","output":"str","x":270,"y":120,"wires":[["93a9b976.723798"]]},{"id":"93a9b976.723798","type":"file","z":"9ded419a.f63288","name":"create_env.sh","filename":"/home/nuwan/workspace/seismo/create_env.sh","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":460,"y":120,"wires":[["6189119a.8c1e38"]]},{"id":"6189119a.8c1e38","type":"debug","z":"9ded419a.f63288","name":"bash file payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":120,"wires":[]},{"id":"cf61ad45.ea2e7","type":"comment","z":"9ded419a.f63288","name":"Make the bash file executable","info":"","x":300,"y":180,"wires":[]},{"id":"be1a7b7c.1489c","type":"inject","z":"9ded419a.f63288","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":240,"wires":[["4b799355.0c9544"]]},{"id":"4b799355.0c9544","type":"exec","z":"9ded419a.f63288","command":"chmod +x /home/nuwan/workspace/seismo/create_env.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"make create_env.sh executable","x":370,"y":240,"wires":[["49afe98d.a74ad"],["49afe98d.a74ad"],["49afe98d.a74ad"]]},{"id":"49afe98d.a74ad","type":"debug","z":"9ded419a.f63288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":240,"wires":[]},{"id":"e368d76c.59cb3","type":"python3-function","z":"22336b2d.3782bc","name":"Print Hello World","func":"import sys\nmsg = \"Hello \" + sys.argv[0]\n#print(msg)\nreturn msg","outputs":1,"x":330,"y":100,"wires":[["4794f9f5.6403"]]},{"id":"5eba5d40.f55944","type":"inject","z":"22336b2d.3782bc","name":"","props":[{"p":"payload"},{"p":"topic","v":"idnum","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4","payloadType":"str","x":90,"y":100,"wires":[["c63b14d0.40cd18","e368d76c.59cb3"]]},{"id":"4794f9f5.6403","type":"debug","z":"22336b2d.3782bc","name":"Py script out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":100,"wires":[]},{"id":"c63b14d0.40cd18","type":"function","z":"22336b2d.3782bc","name":"","func":"msg.payload = new Date(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":200,"wires":[["81f88355.037cd8"]]},{"id":"81f88355.037cd8","type":"debug","z":"22336b2d.3782bc","name":"JS script Out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":200,"wires":[]},{"id":"5103e047.2091e8","type":"inject","z":"9ded419a.f63288","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":380,"wires":[["755966.07b5ce9c"]]},{"id":"65034b60.aac704","type":"comment","z":"9ded419a.f63288","name":"Actually exec the bashfile to activate the py env","info":"","x":370,"y":320,"wires":[]},{"id":"755966.07b5ce9c","type":"exec","z":"9ded419a.f63288","command":"bash /home/nuwan/workspace/seismo/create_env.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"execute bash file","x":330,"y":380,"wires":[["ea1f024e.a37378"],["ea1f024e.a37378"],["ea1f024e.a37378"]]},{"id":"ea1f024e.a37378","type":"debug","z":"9ded419a.f63288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":380,"wires":[]},{"id":"7a3c98eb.31c758","type":"comment","z":"19cea031.655068","name":"Follow https://www.rodened.com/posts/how-to-use-python-in-node-red-1/","info":"","x":420,"y":20,"wires":[]},{"id":"788713b4.bb390c","type":"comment","z":"19cea031.655068","name":"Create bash file for installing Py Packages","info":"","x":320,"y":80,"wires":[]},{"id":"77a59e1f.9a39a","type":"inject","z":"19cea031.655068","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":140,"wires":[["257d84c6.48440c"]]},{"id":"257d84c6.48440c","type":"template","z":"19cea031.655068","name":"create bash install packages","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"#!/bin/bash\n\ncd /home/nuwan/workspace/seismo/testenv/\nls -l\npython3 -m pip install numpy\npython3 -m pip list | grep numpy","output":"str","x":320,"y":140,"wires":[["9ded1ca6.651658"]]},{"id":"9ded1ca6.651658","type":"file","z":"19cea031.655068","name":"install packages","filename":"/home/nuwan/workspace/seismo/install_py_packages.sh","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":560,"y":140,"wires":[["a76d7f00.793158"]]},{"id":"5d876c49.f038bc","type":"comment","z":"19cea031.655068","name":"Make the bash file executable","info":"","x":300,"y":200,"wires":[]},{"id":"3495d7b5.63cb2","type":"inject","z":"19cea031.655068","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":260,"wires":[["fc00c522.a9feb"]]},{"id":"fc00c522.a9feb","type":"exec","z":"19cea031.655068","command":"chmod +x /home/nuwan/workspace/seismo/install_py_packages.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"make install_py_packages.sh executable","x":400,"y":260,"wires":[["a04c0224.7dc93"],["a04c0224.7dc93"],["a04c0224.7dc93"]]},{"id":"a04c0224.7dc93","type":"debug","z":"19cea031.655068","name":"exec file payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":260,"wires":[]},{"id":"53adb0d1.14d71","type":"inject","z":"19cea031.655068","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":400,"wires":[["fd7b5173.783868"]]},{"id":"e72b2758.c6984","type":"comment","z":"19cea031.655068","name":"Exec bashfile to install py packages","info":"","x":330,"y":340,"wires":[]},{"id":"fd7b5173.783868","type":"exec","z":"19cea031.655068","command":"bash /home/nuwan/workspace/seismo/install_py_packages.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"execute install_py_packages.sh","x":370,"y":400,"wires":[["61925130.dc81c8"],["61925130.dc81c8"],["61925130.dc81c8"]]},{"id":"61925130.dc81c8","type":"debug","z":"19cea031.655068","name":"install py packages payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":400,"wires":[]},{"id":"a76d7f00.793158","type":"debug","z":"19cea031.655068","name":"bash file payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":140,"wires":[]},{"id":"dd33ba13.8cd718","type":"comment","z":"806752c6.bd208","name":"create a py file and save to disk","info":"","x":260,"y":40,"wires":[]},{"id":"b77b9358.a5d9c","type":"inject","z":"806752c6.bd208","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":100,"wires":[["cd047bcf.b78b3"]]},{"id":"cd047bcf.b78b3","type":"template","z":"806752c6.bd208","name":"py script code","field":"payload","fieldType":"msg","format":"python","syntax":"plain","template":"import sys\n\nnum = abs(int(sys.stdin.readline())) #read the standin from node\nfor i in range(0,num):\n    print(i+1,\"hello\")\n","output":"str","x":290,"y":100,"wires":[["c1721fc3.f748c8"]]},{"id":"c1721fc3.f748c8","type":"file","z":"806752c6.bd208","name":"pytest.py","filename":"/home/nuwan/workspace/seismo/testenv/pytest.py","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":490,"y":100,"wires":[["476dd538.85036c"]]},{"id":"e98aa88.0d1dbd8","type":"debug","z":"806752c6.bd208","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":180,"wires":[]},{"id":"71680470.6868dc","type":"inject","z":"806752c6.bd208","name":"inject a number","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":110,"y":351,"wires":[["a0ea2d19.09766"]]},{"id":"a0ea2d19.09766","type":"pythonshell in","z":"806752c6.bd208","name":"run pytest.py","pyfile":"/home/nuwan/workspace/seismo/testenv/pytest.py","virtualenv":"/home/nuwan/workspace/seismo/testenv","continuous":false,"stdInData":false,"x":370,"y":351,"wires":[["f8482f39.a8f948"]]},{"id":"f8482f39.a8f948","type":"debug","z":"806752c6.bd208","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":351,"wires":[]},{"id":"cab97520.dc8058","type":"catch","z":"806752c6.bd208","name":"","scope":null,"uncaught":false,"x":460,"y":420,"wires":[["f8482f39.a8f948"]]},{"id":"ad1938f9.f23f98","type":"comment","z":"806752c6.bd208","name":"Execute pytest.py script","info":"It should print \"hello\" as many times the number injected","x":220,"y":291,"wires":[]},{"id":"7236088e.b43af8","type":"catch","z":"806752c6.bd208","name":"","scope":null,"uncaught":false,"x":140,"y":411,"wires":[["a0ea2d19.09766"]]},{"id":"3f0b19ba.57b79e","type":"http request","z":"4fa4d862.8d09a8","name":"Get significant month data","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":80,"wires":[["62005af4.9bff64"]]},{"id":"81c438db.417178","type":"inject","z":"4fa4d862.8d09a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":140,"wires":[["3f0b19ba.57b79e"]]},{"id":"62005af4.9bff64","type":"csv","z":"4fa4d862.8d09a8","name":"USGS Data","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":490,"y":140,"wires":[["2ee2f6bc.e596da","4fc2e937.fbb2a"]]},{"id":"2ee2f6bc.e596da","type":"debug","z":"4fa4d862.8d09a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":80,"wires":[]},{"id":"4fc2e937.fbb2a","type":"switch","z":"4fa4d862.8d09a8","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"6.5","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":160,"wires":[["c62d44.e09492c"]]},{"id":"c62d44.e09492c","type":"change","z":"4fa4d862.8d09a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":260,"wires":[["155b5116.9fcd6f"]]},{"id":"155b5116.9fcd6f","type":"debug","z":"4fa4d862.8d09a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":260,"wires":[]},{"id":"72fda116.b44d2","type":"comment","z":"4fa4d862.8d09a8","name":"Monthly USGS Significant Shake","info":"","x":300,"y":40,"wires":[]},{"id":"e7be54db.68238","type":"comment","z":"4fa4d862.8d09a8","name":"Plotting Shakes on a Map","info":"","x":270,"y":340,"wires":[]},{"id":"ff91799f.943aa8","type":"http in","z":"4fa4d862.8d09a8","name":"","url":"/earthquakeinfo-hr","method":"get","upload":false,"swaggerDoc":"","x":120,"y":400,"wires":[["716519aa.7378c8"]]},{"id":"bfecb939.95b1f","type":"http response","z":"4fa4d862.8d09a8","name":"","statusCode":"","headers":{},"x":350,"y":720,"wires":[]},{"id":"716519aa.7378c8","type":"http request","z":"4fa4d862.8d09a8","name":"Get USGS hourly EQ Info","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.geojson","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":480,"wires":[["3101d09b.fb434","85755fd0.23576"]]},{"id":"3101d09b.fb434","type":"change","z":"4fa4d862.8d09a8","name":"Set EQ Info","rules":[{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"statusCode","pt":"msg"},{"t":"delete","p":"responseUrl","pt":"msg"},{"t":"delete","p":"redirectList","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.features.{\t   \"type\":properties.type,\t   \"magnitude\": properties.mag,\t   \"location\": properties.place,\t   \"longitude\":geometry.coordinates[0],\t   \"latitude\":geometry.coordinates[1],\t   \"depth\":geometry.coordinates[2],\t   \"timestamp\": $fromMillis(\t       properties.time,\t       '[H01]:[m01]:[s01] [z]',\t       '+0400'\t   ),\t   \"source\": properties.net\t}\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":480,"wires":[["8b129199.76f9f","85755fd0.23576"]]},{"id":"8b129199.76f9f","type":"split","z":"4fa4d862.8d09a8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":480,"wires":[["fbf584ea.62c378"]]},{"id":"fbf584ea.62c378","type":"change","z":"4fa4d862.8d09a8","name":"Lat & Lon","rules":[{"t":"set","p":"details","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"location.lon","pt":"msg","to":"payload.longitude","tot":"msg"},{"t":"set","p":"location.lat","pt":"msg","to":"payload.latitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":560,"wires":[["aec5d9b4.e05d38"]]},{"id":"aec5d9b4.e05d38","type":"openweathermap","z":"4fa4d862.8d09a8","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":330,"y":560,"wires":[["3c96ab4d.908274","74fc6ff5.40a758"]]},{"id":"3c96ab4d.908274","type":"change","z":"4fa4d862.8d09a8","name":"Add weather data","rules":[{"t":"set","p":"payload","pt":"msg","to":" msg.{\t   \"name\": parts.index,\t   \"Place\": details.place,\t   \"Location\":details.location,\t   \"Country\":location.country,\t   \"mag\":details.magnitude,\t   \"Source\":details.source,\t   \"Timestamp\":details.timestamp,\t   \"lon\": location.lon,\t   \"lat\":location.lat,\t   \"Type\":details.type,\t   \"Temperature\":data.main.temp & ' Kelvin',\t   \"Pressure\":data.main.pressure & ' hPa',\t   \"Humidity\":data.main.humidity & ' %',\t   \"Wind Speed\":data.wind.speed & ' meter(s)/sec',\t   \"Wind Direction\":data.wind.deg & ' degree(s)',\t   \"Cloud Coverage\":data.clouds.all & ' %',\t   \"icon\":'earthquake',\t   \"intensity\":details.magnitude / 10\t}\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":560,"wires":[["28db1ad1.85871e"]]},{"id":"28db1ad1.85871e","type":"function","z":"4fa4d862.8d09a8","name":"Set region & country","func":"var countryjs = global.get('countryjs');\n\nmsg.payload.Country = countryjs.name(msg.location.country)\nmsg.payload.Region = countryjs.region(msg.location.country)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":640,"wires":[["94bcaf3d.b8439"]]},{"id":"94bcaf3d.b8439","type":"change","z":"4fa4d862.8d09a8","name":"Remove unnecessaty properties","rules":[{"t":"delete","p":"details","pt":"msg"},{"t":"delete","p":"location","pt":"msg"},{"t":"delete","p":"data","pt":"msg"},{"t":"delete","p":"title","pt":"msg"},{"t":"delete","p":"description","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":640,"wires":[["1279f87f.75bf08"]]},{"id":"1279f87f.75bf08","type":"join","z":"4fa4d862.8d09a8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":720,"y":640,"wires":[["db39756b.c939e"]]},{"id":"db39756b.c939e","type":"change","z":"4fa4d862.8d09a8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/JSON\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":720,"wires":[["bfecb939.95b1f"]]},{"id":"884fc4d1.581f7","type":"worldmap","z":"cc9b37d3.f487f","name":"","lat":"50","lon":"-1","zoom":"2","layer":"OSM","cluster":"3","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":680,"y":180,"wires":[]},{"id":"622d28e0.118a7","type":"inject","z":"cc9b37d3.f487f","name":"Display","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":110,"y":100,"wires":[["315f6eeb.1136ca"]]},{"id":"315f6eeb.1136ca","type":"template","z":"cc9b37d3.f487f","name":"Display","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"/worldmap\" height=670 width=670></iframe>\n","output":"str","x":310,"y":100,"wires":[["3dab6d94.34518a"]]},{"id":"3dab6d94.34518a","type":"ui_template","z":"cc9b37d3.f487f","group":"c06e0775.048bb","name":"","order":1,"width":14,"height":13,"format":"<div align=center ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":500,"y":100,"wires":[[]]},{"id":"92e7dcbe.cf1c88","type":"inject","z":"cc9b37d3.f487f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"{}","payloadType":"json","x":100,"y":180,"wires":[["a0859c5f.325dc8"]]},{"id":"a0859c5f.325dc8","type":"http request","z":"cc9b37d3.f487f","name":"Get EQ info","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/earthquakeinfo-hr","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":180,"wires":[["eaea1ab0.b9bf6","290ec590.63259a","7b85872d.b23dc"]]},{"id":"eaea1ab0.b9bf6","type":"split","z":"cc9b37d3.f487f","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":490,"y":180,"wires":[["884fc4d1.581f7"]]},{"id":"7b85872d.b23dc","type":"cloudant out","z":"cc9b37d3.f487f","name":"","cloudant":"9c06d405.abbd5","database":"earthquakeinfohr","service":"_ext_","payonly":true,"operation":"insert","x":670,"y":260,"wires":[]},{"id":"290ec590.63259a","type":"change","z":"cc9b37d3.f487f","name":"Filter regions","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Region","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":320,"wires":[["86d43686.3a2fe8"]]},{"id":"86d43686.3a2fe8","type":"function","z":"cc9b37d3.f487f","name":"Count","func":"var arr = msg.payload;\n\nvar counts = {};\nfor (var i = 0; i < arr.length; i++) {\n    counts[arr[i]] = 1 + (counts[arr[i]] || 0);\n}\n\nmsg.payload = counts;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":320,"wires":[["27edff05.8001b"]]},{"id":"27edff05.8001b","type":"function","z":"cc9b37d3.f487f","name":"","func":"msg1 = {topic:\"Africa\", payload:msg.payload.Africa};\nmsg2 = {topic:\"Americas\", payload:msg.payload.Americas};\nmsg3 = {topic:\"Asia\", payload:msg.payload.Asia};\nmsg4 = {topic:\"Europe\", payload:msg.payload.Europe};\nmsg5 = {topic:\"Oceania\", payload:msg.payload.Oceania};\n\nreturn [msg1, msg2, msg3, msg4, msg5];\n","outputs":5,"noerr":0,"initialize":"","finalize":"","x":480,"y":400,"wires":[["de6bf16e.e7d13"],["de6bf16e.e7d13"],["de6bf16e.e7d13"],["de6bf16e.e7d13"],["de6bf16e.e7d13"]]},{"id":"de6bf16e.e7d13","type":"ui_chart","z":"cc9b37d3.f487f","name":"Earthquake Frequency","group":"25a68acf.96bfb6","order":1,"width":10,"height":9,"label":"chart","chartType":"line","legend":"true","xformat":"MM/YY HH:mm","interpolate":"linear","nodata":"Awaiting Info","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":400,"wires":[[]]},{"id":"355cb6e5.9280b2","type":"twitter in","z":"cc9b37d3.f487f","twitter":"5098509a.59c698","tags":"earthquake magnitude, earthquake hits","user":"false","name":"EQ Tweets","inputs":0,"x":80,"y":500,"wires":[["9f54274.76fce58"]]},{"id":"9f54274.76fce58","type":"ui_text","z":"cc9b37d3.f487f","group":"af627022.d4ff4","order":1,"width":10,"height":2,"name":"Latest Tweets","label":"","format":"{{msg.tweet.text}}","layout":"col-center","x":500,"y":500,"wires":[]},{"id":"85755fd0.23576","type":"debug","z":"4fa4d862.8d09a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":420,"wires":[]},{"id":"74fc6ff5.40a758","type":"debug","z":"4fa4d862.8d09a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":420,"wires":[]},{"id":"476dd538.85036c","type":"exec","z":"806752c6.bd208","command":"chmod +x /home/nuwan/workspace/seismo/testenv/pytest.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"make pytest.py executable","x":320,"y":180,"wires":[["e98aa88.0d1dbd8"],["e98aa88.0d1dbd8"],["e98aa88.0d1dbd8"]]},{"id":"dcca8f45.008bf8","type":"http in","z":"4e4cce96.07e268","name":"","url":"/geonet-mmi","method":"get","upload":false,"swaggerDoc":"","x":100,"y":40,"wires":[["52cd57b0.744888"]]},{"id":"52cd57b0.744888","type":"http request","z":"4e4cce96.07e268","name":"Call Intensity API","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.geonet.org.nz/intensity?type=measured","tls":"","persist":false,"proxy":"","authType":"","x":305,"y":40,"wires":[["ddc3f297.5acab8"]]},{"id":"1dde7e99.23c939","type":"http response","z":"4e4cce96.07e268","name":"","statusCode":"","headers":{},"x":730,"y":40,"wires":[]},{"id":"66e899e7.a0174","type":"inject","z":"2968d4c8.cdc7ec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":130,"y":100,"wires":[["1d089bf7.8d4964"]]},{"id":"1d089bf7.8d4964","type":"http request","z":"2968d4c8.cdc7ec","name":"Get EQ MMI Data","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/geonet-mmi","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":100,"wires":[["a9e1f3b9.8044e8","ecc2cfc6.0066f"]]},{"id":"a9e1f3b9.8044e8","type":"cloudantplus out","z":"2968d4c8.cdc7ec","name":"","cloudant":"13cc5f7e.2d9ac1","database":"geonetmmi","service":"_ext_","payonly":true,"operation":"insert","x":570,"y":100,"wires":[[]]},{"id":"c02d0f6.f8357f","type":"split","z":"2968d4c8.cdc7ec","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":430,"y":240,"wires":[["ae6d5be6.e6a208"]]},{"id":"ae6d5be6.e6a208","type":"worldmap","z":"2968d4c8.cdc7ec","name":"Intensity Map","lat":"-40","lon":"170","zoom":"5","layer":"OSM","cluster":"3","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/geonet-intensity","x":570,"y":180,"wires":[]},{"id":"28a5adbe.1c5fea","type":"debug","z":"2968d4c8.cdc7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":340,"wires":[]},{"id":"75351a0d.4a47f4","type":"debug","z":"4e4cce96.07e268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":120,"wires":[]},{"id":"ddc3f297.5acab8","type":"change","z":"4e4cce96.07e268","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.features.{\t   \"type\": geometry.type,\t   \"MMI\": properties.mmi,\t   \"longitude\": geometry.coordinates[0],\t   \"latitude\": geometry.coordinates[1]\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":40,"wires":[["75351a0d.4a47f4","1dde7e99.23c939"]]},{"id":"d3c72941.aa6018","type":"inject","z":"4fa4d862.8d09a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":550,"y":360,"wires":[["716519aa.7378c8"]]},{"id":"25dd8bed.a2dcec","type":"inject","z":"2968d4c8.cdc7ec","name":"Display","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":120,"y":40,"wires":[["62a0f4d0.fad994"]]},{"id":"62a0f4d0.fad994","type":"template","z":"2968d4c8.cdc7ec","name":"Display Intensity","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"/geonet-intensity\" height=600 width=500></iframe>\n","output":"str","x":340,"y":40,"wires":[["110c063b.e3a992"]]},{"id":"110c063b.e3a992","type":"ui_template","z":"2968d4c8.cdc7ec","group":"f911df.be7f262","name":"","order":2,"width":0,"height":0,"format":"<div align=center ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":560,"y":40,"wires":[[]]},{"id":"b3f4a81f.338d9","type":"ui_numeric","z":"2968d4c8.cdc7ec","name":"","label":"Min MMI","tooltip":"","group":"f911df.be7f262","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"eq.mmi.min","format":"{{msg.payload.mmi}}","min":0,"max":"5","step":1,"x":260,"y":300,"wires":[["ecc2cfc6.0066f","8d3a6064.df8b"]]},{"id":"ecc2cfc6.0066f","type":"filter","z":"2968d4c8.cdc7ec","name":"","property":"payload.MMI","propertyType":"msg","asArray":false,"itemProperty":"","itemPropertyType":"item","rules":[{"t":"gte","v":"topic.eq.mmi.min","vt":"flow","output":1},{"t":"lte","v":"topic.eq.mmi.max","vt":"flow","output":1}],"checkall":"true","outputs":1,"x":370,"y":180,"wires":[["28a5adbe.1c5fea","c02d0f6.f8357f"]]},{"id":"35986535.f5587a","type":"ui_numeric","z":"2968d4c8.cdc7ec","name":"","label":"Max MMI","tooltip":"","group":"f911df.be7f262","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"eq.mmi.max","format":"{{msg.payload.mmi}}","min":0,"max":"5","step":1,"x":260,"y":380,"wires":[["ecc2cfc6.0066f","8d3a6064.df8b"]]},{"id":"5d46332f.1b180c","type":"inject","z":"2968d4c8.cdc7ec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"num","x":90,"y":340,"wires":[["b3f4a81f.338d9","35986535.f5587a"]]},{"id":"8d3a6064.df8b","type":"debug","z":"2968d4c8.cdc7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":440,"wires":[]},{"id":"d2cc19cf.0be79","type":"function","z":"2968d4c8.cdc7ec","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":260,"wires":[[]]}]