flows/test_flows_eq_maps.json
[{"id":"67ee7b0.07f9684","type":"tab","label":"USGS EQ Details","disabled":false,"info":""},{"id":"3c8890f2.241cc8","type":"tab","label":"USGS EQ Dashboard","disabled":false,"info":""},{"id":"c069385a.958228","type":"tab","label":"Geonet Details","disabled":false,"info":""},{"id":"b4ccfb3c.e690e8","type":"tab","label":"GeoNet Dashboard","disabled":false,"info":""},{"id":"a53358dc.4dc7f8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"899c815b.60826","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Earthquake Info","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"390ce64d.b6ef92","type":"ui_tab","z":"","name":"USGS EQ Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d6bbeadd.da421","type":"ui_group","z":"","name":"Map","tab":"390ce64d.b6ef92","order":1,"disp":false,"width":"14","collapse":false},{"id":"53142eaa.8508c","type":"ui_group","z":"","name":"EQ Frequency","tab":"390ce64d.b6ef92","order":3,"disp":false,"width":"10","collapse":false},{"id":"f95a53b5.94d368","type":"cloudant","z":"","host":"http://localhost:1880","name":""},{"id":"2cde8c91.7f316c","type":"twitter-credentials","z":"","screen_name":"sahanasambro"},{"id":"8be099a3.1ecbb8","type":"ui_group","z":"","name":"Latest Tweets","tab":"390ce64d.b6ef92","order":2,"disp":true,"width":"10","collapse":false},{"id":"1acd9bb6.ffcfdc","type":"ui_tab","z":"","name":"GeoNet EQ Dashboard","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"1733c5da.ceb6c2","type":"ui_group","z":"","name":"Shaking Intensity","tab":"1acd9bb6.ffcfdc","order":1,"disp":true,"width":9,"collapse":true},{"id":"f8bc91e1.4c3588","type":"ui_group","z":"","name":"Quake Stats past 365 Days","tab":"1acd9bb6.ffcfdc","order":3,"disp":true,"width":9,"collapse":false},{"id":"c5005c92.da6f68","type":"ui_group","z":"","name":"Charts","tab":"6a5edad7.24ad34","order":2,"disp":false,"width":"6"},{"id":"adc60db7.8ac04","type":"ui_group","z":"","name":"Inputs","tab":"6a5edad7.24ad34","order":1,"disp":false,"width":"6"},{"id":"bb97e7f5.e93db","type":"ui_group","z":"","name":"Group 3","tab":"6a5edad7.24ad34","order":3,"disp":false,"width":"6"},{"id":"6a5edad7.24ad34","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":2},{"id":"96834a3f.08853","type":"ui_group","z":"","name":"Sensor Locations","tab":"1acd9bb6.ffcfdc","order":2,"disp":true,"width":"9","collapse":true},{"id":"1f893379.af90f5","type":"ui_spacer","name":"spacer","group":"1733c5da.ceb6c2","order":1,"width":3,"height":1},{"id":"4b799eca.416a9","type":"ui_spacer","name":"spacer","group":"1733c5da.ceb6c2","order":3,"width":3,"height":1},{"id":"55e41252.e6c5ac","type":"ui_spacer","name":"spacer","group":"96834a3f.08853","order":1,"width":2,"height":1},{"id":"667f6de0.579c14","type":"ui_spacer","name":"spacer","group":"96834a3f.08853","order":3,"width":5,"height":1},{"id":"b6694218.b62ae8","type":"ui_spacer","name":"spacer","group":"f8bc91e1.4c3588","order":2,"width":6,"height":1},{"id":"a3686b6a.db826","type":"http request","z":"67ee7b0.07f9684","name":"Get significant month data","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":80,"wires":[["589621b2.ab4f98"]]},{"id":"51a1e3d8.83a30c","type":"inject","z":"67ee7b0.07f9684","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":140,"wires":[["a3686b6a.db826"]]},{"id":"589621b2.ab4f98","type":"csv","z":"67ee7b0.07f9684","name":"USGS Data","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":490,"y":140,"wires":[["2d36acae.3729fc","abb1e302.776308"]]},{"id":"2d36acae.3729fc","type":"debug","z":"67ee7b0.07f9684","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":80,"wires":[]},{"id":"abb1e302.776308","type":"switch","z":"67ee7b0.07f9684","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"6.5","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":160,"wires":[["ec27644f.f7b28"]]},{"id":"ec27644f.f7b28","type":"change","z":"67ee7b0.07f9684","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":260,"wires":[["c58169ec.99345"]]},{"id":"c58169ec.99345","type":"debug","z":"67ee7b0.07f9684","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":260,"wires":[]},{"id":"69384518.b31c2c","type":"comment","z":"67ee7b0.07f9684","name":"Monthly USGS Significant Shake","info":"","x":300,"y":40,"wires":[]},{"id":"d7ae10ff.a98da8","type":"comment","z":"67ee7b0.07f9684","name":"Plotting Shakes on a Map","info":"","x":270,"y":340,"wires":[]},{"id":"81d4b2b8.658868","type":"http in","z":"67ee7b0.07f9684","name":"","url":"/earthquakeinfo-hr","method":"get","upload":false,"swaggerDoc":"","x":120,"y":400,"wires":[["90e45c5c.1b8c4"]]},{"id":"6d207073.5b82a8","type":"http response","z":"67ee7b0.07f9684","name":"","statusCode":"","headers":{},"x":350,"y":720,"wires":[]},{"id":"90e45c5c.1b8c4","type":"http request","z":"67ee7b0.07f9684","name":"Get USGS hourly EQ Info","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.geojson","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":480,"wires":[["2008ed3f.0591ba","fc3141ec.f82328"]]},{"id":"2008ed3f.0591ba","type":"change","z":"67ee7b0.07f9684","name":"Set EQ Info","rules":[{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"statusCode","pt":"msg"},{"t":"delete","p":"responseUrl","pt":"msg"},{"t":"delete","p":"redirectList","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.features.{\t   \"type\":properties.type,\t   \"magnitude\": properties.mag,\t   \"location\": properties.place,\t   \"longitude\":geometry.coordinates[0],\t   \"latitude\":geometry.coordinates[1],\t   \"depth\":geometry.coordinates[2],\t   \"timestamp\": $fromMillis(\t       properties.time,\t       '[H01]:[m01]:[s01] [z]',\t       '+0400'\t   ),\t   \"source\": properties.net\t}\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":480,"wires":[["67cd9c14.4da96c"]]},{"id":"67cd9c14.4da96c","type":"split","z":"67ee7b0.07f9684","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":480,"wires":[["cb34934.9cdcf7"]]},{"id":"cb34934.9cdcf7","type":"change","z":"67ee7b0.07f9684","name":"Lat & Lon","rules":[{"t":"set","p":"details","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"location.lon","pt":"msg","to":"payload.longitude","tot":"msg"},{"t":"set","p":"location.lat","pt":"msg","to":"payload.latitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":560,"wires":[["9706b81c.bfd388"]]},{"id":"9706b81c.bfd388","type":"openweathermap","z":"67ee7b0.07f9684","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":330,"y":560,"wires":[["84020629.298f28"]]},{"id":"84020629.298f28","type":"change","z":"67ee7b0.07f9684","name":"Add weather data","rules":[{"t":"set","p":"payload","pt":"msg","to":" msg.{\t   \"name\": parts.index,\t   \"Place\": details.place,\t   \"Location\":details.location,\t   \"Country\":location.country,\t   \"mag\":details.magnitude,\t   \"Source\":details.source,\t   \"Timestamp\":details.timestamp,\t   \"lon\": location.lon,\t   \"lat\":location.lat,\t   \"Type\":details.type,\t   \"Temperature\":data.main.temp & ' Kelvin',\t   \"Pressure\":data.main.pressure & ' hPa',\t   \"Humidity\":data.main.humidity & ' %',\t   \"Wind Speed\":data.wind.speed & ' meter(s)/sec',\t   \"Wind Direction\":data.wind.deg & ' degree(s)',\t   \"Cloud Coverage\":data.clouds.all & ' %',\t   \"icon\":'earthquake',\t   \"intensity\":details.magnitude / 10\t}\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":560,"wires":[["771245d1.8f1fac","33b7c5e5.b07c4a"]]},{"id":"771245d1.8f1fac","type":"function","z":"67ee7b0.07f9684","name":"Set region & country","func":"var countryjs = global.get('countryjs');\n\nmsg.payload.Country = countryjs.name(msg.location.country)\nmsg.payload.Region = countryjs.region(msg.location.country)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":640,"wires":[["be645b52.0df028"]]},{"id":"be645b52.0df028","type":"change","z":"67ee7b0.07f9684","name":"Remove unnecessaty properties","rules":[{"t":"delete","p":"details","pt":"msg"},{"t":"delete","p":"location","pt":"msg"},{"t":"delete","p":"data","pt":"msg"},{"t":"delete","p":"title","pt":"msg"},{"t":"delete","p":"description","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":640,"wires":[["596ec32d.10747c"]]},{"id":"596ec32d.10747c","type":"join","z":"67ee7b0.07f9684","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":720,"y":640,"wires":[["37b388c2.ef2a"]]},{"id":"37b388c2.ef2a","type":"change","z":"67ee7b0.07f9684","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/JSON\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":720,"wires":[["6d207073.5b82a8"]]},{"id":"e813ba89.779bd8","type":"worldmap","z":"3c8890f2.241cc8","name":"","lat":"50","lon":"-1","zoom":"2","layer":"OSM","cluster":"3","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":680,"y":180,"wires":[]},{"id":"6449ab35.55fdcc","type":"inject","z":"3c8890f2.241cc8","name":"Display","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":110,"y":100,"wires":[["c59d4d3d.c86718"]]},{"id":"c59d4d3d.c86718","type":"template","z":"3c8890f2.241cc8","name":"Display","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"/worldmap\" height=670 width=670></iframe>\n","output":"str","x":310,"y":100,"wires":[["554eda94.8e692c"]]},{"id":"554eda94.8e692c","type":"ui_template","z":"3c8890f2.241cc8","group":"d6bbeadd.da421","name":"","order":1,"width":14,"height":13,"format":"<div align=center ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":500,"y":100,"wires":[[]]},{"id":"d15781bb.6fb9a8","type":"inject","z":"3c8890f2.241cc8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"{}","payloadType":"json","x":100,"y":180,"wires":[["d915a289.62102"]]},{"id":"d915a289.62102","type":"http request","z":"3c8890f2.241cc8","name":"Get EQ info","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/earthquakeinfo-hr","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":180,"wires":[["311c67b7.9a9ca","ebf63da0.a509b8","4317972.7dc9268"]]},{"id":"311c67b7.9a9ca","type":"split","z":"3c8890f2.241cc8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":490,"y":180,"wires":[["e813ba89.779bd8"]]},{"id":"4317972.7dc9268","type":"cloudant out","z":"3c8890f2.241cc8","name":"","cloudant":"f95a53b5.94d368","database":"earthquakeinfohr","service":"_ext_","payonly":true,"operation":"insert","x":670,"y":260,"wires":[]},{"id":"ebf63da0.a509b8","type":"change","z":"3c8890f2.241cc8","name":"Filter regions","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Region","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":320,"wires":[["a36bd3a7.f15548"]]},{"id":"a36bd3a7.f15548","type":"function","z":"3c8890f2.241cc8","name":"Count","func":"var arr = msg.payload;\n\nvar counts = {};\nfor (var i = 0; i < arr.length; i++) {\n    counts[arr[i]] = 1 + (counts[arr[i]] || 0);\n}\n\nmsg.payload = counts;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":320,"wires":[["6a39d8c.6ca5a28"]]},{"id":"6a39d8c.6ca5a28","type":"function","z":"3c8890f2.241cc8","name":"","func":"msg1 = {topic:\"Africa\", payload:msg.payload.Africa};\nmsg2 = {topic:\"Americas\", payload:msg.payload.Americas};\nmsg3 = {topic:\"Asia\", payload:msg.payload.Asia};\nmsg4 = {topic:\"Europe\", payload:msg.payload.Europe};\nmsg5 = {topic:\"Oceania\", payload:msg.payload.Oceania};\n\nreturn [msg1, msg2, msg3, msg4, msg5];\n","outputs":5,"noerr":0,"initialize":"","finalize":"","x":480,"y":400,"wires":[["2c4cfc18.d2339c"],["2c4cfc18.d2339c"],["2c4cfc18.d2339c"],["2c4cfc18.d2339c"],["2c4cfc18.d2339c"]]},{"id":"2c4cfc18.d2339c","type":"ui_chart","z":"3c8890f2.241cc8","name":"Earthquake Frequency","group":"53142eaa.8508c","order":1,"width":10,"height":9,"label":"chart","chartType":"line","legend":"true","xformat":"MM/YY HH:mm","interpolate":"linear","nodata":"Awaiting Info","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":400,"wires":[[]]},{"id":"95076a6f.98ff18","type":"twitter in","z":"3c8890f2.241cc8","twitter":"2cde8c91.7f316c","tags":"earthquake magnitude, earthquake hits","user":"false","name":"EQ Tweets","inputs":0,"x":80,"y":500,"wires":[["4721f197.47bc6"]]},{"id":"4721f197.47bc6","type":"ui_text","z":"3c8890f2.241cc8","group":"8be099a3.1ecbb8","order":1,"width":10,"height":2,"name":"Latest Tweets","label":"","format":"{{msg.tweet.text}}","layout":"col-center","x":500,"y":500,"wires":[]},{"id":"fc3141ec.f82328","type":"debug","z":"67ee7b0.07f9684","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":420,"wires":[]},{"id":"33b7c5e5.b07c4a","type":"debug","z":"67ee7b0.07f9684","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":420,"wires":[]},{"id":"79d5cde5.82d3bc","type":"http in","z":"c069385a.958228","name":"","url":"/geonet-mmi","method":"get","upload":false,"swaggerDoc":"","x":120,"y":360,"wires":[["29237fc4.ff14"]]},{"id":"29237fc4.ff14","type":"http request","z":"c069385a.958228","name":"Call Intensity API","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.geonet.org.nz/intensity?type=measured","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":360,"wires":[["a075b2a7.5d30e"]]},{"id":"f572976c.3ee428","type":"http response","z":"c069385a.958228","name":"","statusCode":"","headers":{},"x":570,"y":533,"wires":[]},{"id":"40c34639.d0127","type":"http request","z":"b4ccfb3c.e690e8","name":"Get EQ MMI Data","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/geonet-mmi","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":360,"wires":[["d533ba02.ca8c98"]]},{"id":"d533ba02.ca8c98","type":"split","z":"b4ccfb3c.e690e8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":450,"y":360,"wires":[["bcbd6a3d.265848","6030ad75.08af34"]]},{"id":"bcbd6a3d.265848","type":"worldmap","z":"b4ccfb3c.e690e8","name":"","lat":"-40","lon":"170","zoom":"5","layer":"OSM","cluster":"3","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/map-intensity","x":650,"y":360,"wires":[]},{"id":"faf4f2f1.631688","type":"debug","z":"c069385a.958228","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":533,"wires":[]},{"id":"a075b2a7.5d30e","type":"change","z":"c069385a.958228","name":"Set MMI Info","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.features.{\t   \"type\": geometry.type,\t   \"name\": 1,\t   \"lon\": geometry.coordinates[0],\t   \"lat\": geometry.coordinates[1],\t   \"MMI\": properties.mmi\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":360,"wires":[["3ee41b37.b24f4c"]]},{"id":"2b7a62f0.b6f896","type":"inject","z":"b4ccfb3c.e690e8","name":"Empty Display","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":124,"y":54,"wires":[["99a1304d.3b1e","412204ff.6da81c"]]},{"id":"99a1304d.3b1e","type":"template","z":"b4ccfb3c.e690e8","name":"Display Intensity","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"/map-intensity\" height=500 width=400></iframe>","output":"str","x":374,"y":54,"wires":[["8615e5a2.230d9"]]},{"id":"8615e5a2.230d9","type":"ui_template","z":"b4ccfb3c.e690e8","group":"1733c5da.ceb6c2","name":"Map Intensity","order":4,"width":9,"height":10,"format":"<div align=center ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":614,"y":54,"wires":[[]]},{"id":"c45bc485.9faf28","type":"inject","z":"c069385a.958228","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":273,"wires":[["29237fc4.ff14"]]},{"id":"6e51a31a.226544","type":"inject","z":"67ee7b0.07f9684","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":300,"wires":[["90e45c5c.1b8c4"]]},{"id":"3ee41b37.b24f4c","type":"split","z":"c069385a.958228","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":310,"y":440,"wires":[["92f91471.fe543"]]},{"id":"92f91471.fe543","type":"change","z":"c069385a.958228","name":"Set name with UUI","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"parts.index","tot":"msg"},{"t":"set","p":"payload.layer","pt":"msg","to":"payload.MMI","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":440,"wires":[["ea4ec899.8891a8"]]},{"id":"ea4ec899.8891a8","type":"join","z":"c069385a.958228","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":440,"wires":[["faf4f2f1.631688","87ac6f31.c4826"]]},{"id":"87ac6f31.c4826","type":"change","z":"c069385a.958228","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/JSON\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":533,"wires":[["f572976c.3ee428"]]},{"id":"81fecfca.1b0418","type":"comment","z":"c069385a.958228","name":"Intensity for the last 60 minutes","info":"**API** from GeoNet Data\nhttps://api.geonet.org.nz/intensity?type=measured","x":370,"y":280,"wires":[]},{"id":"f94a45c1.d7e468","type":"comment","z":"c069385a.958228","name":"Quake Stats for past 365 days","info":"_Magnitude counts and rates for past 365 days_\n**API** from GeoNet Data\nhttps://api.geonet.org.nz/quake/stats","x":380,"y":631,"wires":[]},{"id":"1fa3eac9.0160b5","type":"http in","z":"c069385a.958228","name":"","url":"/geonet-quake-stats","method":"get","upload":false,"swaggerDoc":"","x":180,"y":691,"wires":[["3319680d.92eb38"]]},{"id":"3319680d.92eb38","type":"http request","z":"c069385a.958228","name":"Call Quake Stats API","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.geonet.org.nz/quake/stats","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":691,"wires":[["1b8d1d6f.f3bf23"]]},{"id":"ed9a6bc7.454248","type":"debug","z":"c069385a.958228","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":851,"wires":[]},{"id":"29e64195.4d629e","type":"inject","z":"b4ccfb3c.e690e8","name":"12 hrs","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"43200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":104,"y":654,"wires":[["1faa0b6f.1f5e2d"]]},{"id":"1faa0b6f.1f5e2d","type":"http request","z":"b4ccfb3c.e690e8","name":"Get Quake Stats","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/geonet-quake-stats","tls":"","persist":false,"proxy":"","authType":"","x":284,"y":654,"wires":[["976268b0.4371d"]]},{"id":"1b8d1d6f.f3bf23","type":"json","z":"c069385a.958228","name":"","property":"payload","action":"","pretty":false,"x":700,"y":691,"wires":[["47f05375.c059a4"]]},{"id":"47f05375.c059a4","type":"function","z":"c069385a.958228","name":"","func":"data = msg.payload;\nvar arrKeys = [], arrVals = [];\narrKeys.push(Object.keys(data.rate.perDay));\narrVals.push(Object.values(data.rate.perDay));\n\nvar newPayload = [];\nvar date = 0;\nvar count = 0;\nfor (var i = 0; i < Object.keys(data.rate.perDay).length; i++){\n\tdate = Date.parse(Object.keys(data.rate.perDay)[i]);\n\tcount = Object.values(data.rate.perDay)[i];\n\tnewPayload.push({\"date\": date, \"count\": count});\n}\nmsg.payload = JSON.stringify(newPayload);\n//msg.payload = newPayload;\n//console.log(msg);\nreturn(msg)","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":771,"wires":[["8f6bac75.164f","ed9a6bc7.454248","588bd991.337b1"]]},{"id":"8f6bac75.164f","type":"http response","z":"c069385a.958228","name":"","statusCode":"","headers":{},"x":710,"y":771,"wires":[]},{"id":"c7246c55.546ac","type":"function","z":"a53358dc.4dc7f8","name":"","func":"var m={};\nm.labels = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \"July\"];\nm.series = ['Series A', 'Series B', 'Series C'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":220,"y":380,"wires":[["5c7207e.9a8b478","96d16ea9.34aad","91f2125c.3250f","886cdd98.864468"]]},{"id":"5c7207e.9a8b478","type":"ui_chart","z":"a53358dc.4dc7f8","name":"","group":"c5005c92.da6f68","order":1,"width":0,"height":0,"label":"line chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":490,"y":120,"wires":[[]]},{"id":"28830592.88d532","type":"function","z":"a53358dc.4dc7f8","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},{\"x\":1504029636001,\"y\":4},{\"x\":1504029638656,\"y\":2}],[{\"x\":1504029633514,\"y\":6},{\"x\":1504029636622,\"y\":7},{\"x\":1504029639539,\"y\":6}],[{\"x\":1504029634400,\"y\":7},{\"x\":1504029637959,\"y\":9},{\"x\":1504029640317,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":220,"wires":[["5c7207e.9a8b478"]]},{"id":"f8c44ab2.5a6c08","type":"ui_button","z":"a53358dc.4dc7f8","name":"","group":"adc60db7.8ac04","order":1,"width":0,"height":0,"passthru":false,"label":"Time Line 1","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":80,"y":220,"wires":[["28830592.88d532"]]},{"id":"96d16ea9.34aad","type":"ui_chart","z":"a53358dc.4dc7f8","name":"","group":"c5005c92.da6f68","order":2,"width":0,"height":0,"label":"bar chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":490,"y":180,"wires":[[],[]]},{"id":"42ee0301.8c7264","type":"ui_button","z":"a53358dc.4dc7f8","name":"","group":"adc60db7.8ac04","order":5,"width":0,"height":0,"passthru":false,"label":"array","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":60,"y":380,"wires":[["c7246c55.546ac"]]},{"id":"93afc4cd.f0b0a","type":"inject","z":"a53358dc.4dc7f8","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"str","x":80,"y":580,"wires":[["53527e33.4b78d"]]},{"id":"4cff7139.2ad148","type":"function","z":"a53358dc.4dc7f8","name":"","func":"var m={};\nm.labels = [10,20,30,40,50,60,70];\nm.series = ['Series A', 'Series B', 'Series C', 'Series D'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":220,"y":420,"wires":[["5c7207e.9a8b478","96d16ea9.34aad","91f2125c.3250f","886cdd98.864468"]]},{"id":"206a010d.c8a0de","type":"ui_button","z":"a53358dc.4dc7f8","name":"","group":"adc60db7.8ac04","order":6,"width":0,"height":0,"passthru":false,"label":"array2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":60,"y":420,"wires":[["4cff7139.2ad148"]]},{"id":"773b8b6e.e2934c","type":"function","z":"a53358dc.4dc7f8","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1,\"y\":5},{\"x\":2,\"y\":4},{\"x\":3,\"y\":2}],[{\"x\":4,\"y\":6},{\"x\":5,\"y\":7},{\"x\":6,\"y\":6}],[{\"x\":7,\"y\":7},{\"x\":8,\"y\":9},{\"x\":9,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":260,"wires":[["5c7207e.9a8b478"]]},{"id":"e3becfc9.2df2c","type":"ui_button","z":"a53358dc.4dc7f8","name":"","group":"adc60db7.8ac04","order":2,"width":0,"height":0,"passthru":false,"label":"Time Line 2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":80,"y":260,"wires":[["773b8b6e.e2934c"]]},{"id":"310faff9.56a59","type":"function","z":"a53358dc.4dc7f8","name":"","func":"var m = {};\nm.labels = [\"Download\", \"In-Store\", \"Mail-Order\"];\nm.data = [[300, 500, 100]];\nm.series = [\"Sales\"];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":240,"y":620,"wires":[["886cdd98.864468","96d16ea9.34aad","5c7207e.9a8b478","221edeb1.97c4ea","63944228.3275d4","91f2125c.3250f"]]},{"id":"886cdd98.864468","type":"ui_chart","z":"a53358dc.4dc7f8","name":"pie chart","group":"c5005c92.da6f68","order":3,"width":0,"height":0,"label":"pie chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":530,"y":360,"wires":[[],[]]},{"id":"5caebc90.f7e0c4","type":"ui_button","z":"a53358dc.4dc7f8","name":"","group":"adc60db7.8ac04","order":10,"width":0,"height":0,"passthru":false,"label":"array for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie 4 T","x":80,"y":620,"wires":[["310faff9.56a59"]]},{"id":"5f5957a2.553758","type":"function","z":"a53358dc.4dc7f8","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000,\"y\":5},{\"x\":2000000,\"y\":4},{\"x\":3000000,\"y\":2}],[{\"x\":4000000,\"y\":6},{\"x\":5000000,\"y\":7},{\"x\":6000000,\"y\":6}],[{\"x\":7000000,\"y\":7},{\"x\":8000000,\"y\":9},{\"x\":9000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":300,"wires":[["5c7207e.9a8b478"]]},{"id":"f93bc576.422888","type":"ui_button","z":"a53358dc.4dc7f8","name":"","group":"adc60db7.8ac04","order":3,"width":0,"height":0,"passthru":false,"label":"Time Line 3","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":80,"y":300,"wires":[["5f5957a2.553758"]]},{"id":"c8ac8414.d75a4","type":"function","z":"a53358dc.4dc7f8","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000000,\"y\":5},{\"x\":2000000000,\"y\":4},{\"x\":3000000000,\"y\":2}],[{\"x\":4000000000,\"y\":6},{\"x\":5000000000,\"y\":7},{\"x\":6000000000,\"y\":6}],[{\"x\":7000000000,\"y\":7},{\"x\":8000000000,\"y\":9},{\"x\":9000000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":340,"wires":[["5c7207e.9a8b478"]]},{"id":"8babe876.8a7a3","type":"ui_button","z":"a53358dc.4dc7f8","name":"","group":"adc60db7.8ac04","order":4,"width":0,"height":0,"passthru":false,"label":"Time Line 4","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":80,"y":340,"wires":[["c8ac8414.d75a4"]]},{"id":"cdaee232.6933e","type":"function","z":"a53358dc.4dc7f8","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5,6,9],[3,8,5],[6,7,2]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":220,"y":540,"wires":[["5c7207e.9a8b478","96d16ea9.34aad","886cdd98.864468","221edeb1.97c4ea","63944228.3275d4","91f2125c.3250f"]]},{"id":"7ae87cb8.99cffc","type":"ui_button","z":"a53358dc.4dc7f8","name":"","group":"adc60db7.8ac04","order":9,"width":0,"height":0,"passthru":false,"label":"array3c","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":70,"y":540,"wires":[["cdaee232.6933e"]]},{"id":"96902dc9.b7b278","type":"ui_button","z":"a53358dc.4dc7f8","name":"","group":"adc60db7.8ac04","order":11,"width":0,"height":0,"passthru":false,"label":"array 2 for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie Hole","x":90,"y":660,"wires":[["71591c4d.fb3934"]]},{"id":"71591c4d.fb3934","type":"function","z":"a53358dc.4dc7f8","name":"","func":"var m = {};\nm.labels = ['2006', '2007', '2008', '2009', '2010', '2011', '2012'];\nm.data = [[28, 48, 40, 19, 86, 27, 90]];\nm.series = ['Series A'];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":240,"y":660,"wires":[["886cdd98.864468","96d16ea9.34aad","63944228.3275d4","221edeb1.97c4ea","5c7207e.9a8b478","91f2125c.3250f"]]},{"id":"f6a05ac0.0170d8","type":"function","z":"a53358dc.4dc7f8","name":"topic","func":"var m = [\n    {topic:\"X\", payload:22},\n    {topic:\"Y\", payload:66},\n    {topic:\"Z\", payload:42}\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":180,"wires":[["96d16ea9.34aad","886cdd98.864468","5c7207e.9a8b478","91f2125c.3250f"]]},{"id":"6b3399a7.dee768","type":"inject","z":"a53358dc.4dc7f8","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":70,"y":180,"wires":[["f6a05ac0.0170d8"]]},{"id":"d5f072be.5d4e9","type":"function","z":"a53358dc.4dc7f8","name":"label","func":"var m = [\n    {label:\"A\", payload:22},\n    {label:\"B\", payload:66},\n    {label:\"C\", payload:42},\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":220,"y":140,"wires":[["96d16ea9.34aad","886cdd98.864468","5c7207e.9a8b478","91f2125c.3250f"]]},{"id":"31a7284d.8a9bb","type":"inject","z":"a53358dc.4dc7f8","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":70,"y":140,"wires":[["d5f072be.5d4e9"]]},{"id":"bbf71a51.dafbe8","type":"function","z":"a53358dc.4dc7f8","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5],[3],[6]],\n    \"labels\":[\"Jan\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":220,"y":460,"wires":[["96d16ea9.34aad","221edeb1.97c4ea","63944228.3275d4","5c7207e.9a8b478","91f2125c.3250f","886cdd98.864468"]]},{"id":"e21f7b7c.a25c58","type":"ui_button","z":"a53358dc.4dc7f8","name":"","group":"adc60db7.8ac04","order":7,"width":0,"height":0,"passthru":false,"label":"array3a","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":70,"y":460,"wires":[["bbf71a51.dafbe8"]]},{"id":"711aeee2.82c748","type":"function","z":"a53358dc.4dc7f8","name":"","func":"var m={\n    \"series\":[\"X\"],\n    \"data\":[[5,3,6]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":220,"y":500,"wires":[["96d16ea9.34aad","5c7207e.9a8b478","63944228.3275d4","221edeb1.97c4ea","91f2125c.3250f","886cdd98.864468"]]},{"id":"518ab043.77c65","type":"ui_button","z":"a53358dc.4dc7f8","name":"","group":"adc60db7.8ac04","order":8,"width":0,"height":0,"passthru":false,"label":"array3b","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":70,"y":500,"wires":[["711aeee2.82c748"]]},{"id":"91f2125c.3250f","type":"ui_chart","z":"a53358dc.4dc7f8","name":"","group":"bb97e7f5.e93db","order":2,"width":0,"height":0,"label":"horizontal bar","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":510,"y":240,"wires":[[],[]]},{"id":"221edeb1.97c4ea","type":"ui_chart","z":"a53358dc.4dc7f8","name":"","group":"bb97e7f5.e93db","order":3,"width":0,"height":0,"label":"polar chart","chartType":"polar-area","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":540,"y":480,"wires":[[],[]]},{"id":"63944228.3275d4","type":"ui_chart","z":"a53358dc.4dc7f8","name":"","group":"bb97e7f5.e93db","order":4,"width":0,"height":0,"label":"radar chart","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":540,"y":540,"wires":[[],[]]},{"id":"9c7afa8c.009e48","type":"function","z":"a53358dc.4dc7f8","name":"label","func":"var m = [\n    {label:\"A\", payload:22, series:\"X\"},\n    {label:\"B\", payload:66, series:\"X\"},\n    {label:\"C\", payload:42, series:\"X\"},\n    {label:\"A\", payload:33, series:\"Y\"},\n    {label:\"B\", payload:72, series:\"Y\"},\n    {label:\"C\", payload:12, series:\"Y\"},\n    {label:\"A\", payload:44, series:\"Z\"},\n    {label:\"B\", payload:32, series:\"Z\"},\n    {label:\"C\", payload:80, series:\"Z\"}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["886cdd98.864468","96d16ea9.34aad","5c7207e.9a8b478","91f2125c.3250f"]]},{"id":"5bc29b8d.5e1eb4","type":"inject","z":"a53358dc.4dc7f8","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":70,"y":100,"wires":[["9c7afa8c.009e48"]]},{"id":"37f6bb5d.11535c","type":"ui_button","z":"a53358dc.4dc7f8","name":"","group":"adc60db7.8ac04","order":11,"width":0,"height":0,"passthru":false,"label":"Clear All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":210,"y":60,"wires":[["63944228.3275d4","221edeb1.97c4ea","886cdd98.864468","91f2125c.3250f","96d16ea9.34aad","5c7207e.9a8b478"]]},{"id":"53527e33.4b78d","type":"random","z":"a53358dc.4dc7f8","name":"","low":"1","high":"10000000","inte":"true","x":250,"y":580,"wires":[["5c7207e.9a8b478"]]},{"id":"d22fd839.cebae","type":"function","z":"b4ccfb3c.e690e8","name":"prep line chart","func":"//var data = msg.payload;\nvar chart = [{\n//    \"series\":[\"A\",\"B\",\"C\"],\n    \"series\":[\"date\"],\n//    \"data\":[[{\"x\":1,\"y\":5},{\"x\":2,\"y\":4},{\"x\":3,\"y\":2}],[{\"x\":4,\"y\":6},{\"x\":5,\"y\":7},{\"x\":6,\"y\":6}],[{\"x\":7,\"y\":7},{\"x\":8,\"y\":9},{\"x\":9,\"y\":7}]],\n    \"data\": [msg.payload],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\nmsg.topic = \"shake/counts/daily\";\n\n//var msg = [\n//    {topic:\"shake/counts/daily\", payload:chart}\n//    ];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":704,"y":654,"wires":[["76a8c572.a28c9c"]]},{"id":"de920989.130f6","type":"ui_chart","z":"b4ccfb3c.e690e8","name":"Shake Counts 365 days","group":"f8bc91e1.4c3588","order":3,"width":9,"height":6,"label":"","chartType":"line","legend":"false","xformat":"Y-M-D","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"365","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":694,"y":734,"wires":[[]]},{"id":"588bd991.337b1","type":"file","z":"c069385a.958228","name":"","filename":"/home/nuwan/workspace/seismo/test_out.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":580,"y":891,"wires":[[]]},{"id":"976268b0.4371d","type":"change","z":"b4ccfb3c.e690e8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.{\t    \"x\": date,\t    \"y\": count\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":484,"y":654,"wires":[["d22fd839.cebae"]]},{"id":"76a8c572.a28c9c","type":"sort","z":"b4ccfb3c.e690e8","name":"","order":"ascending","as_num":false,"target":"payload","targetType":"msg","msgKey":"","msgKeyType":"elem","seqKey":"payload","seqKeyType":"msg","x":374,"y":734,"wires":[["de920989.130f6"]]},{"id":"af788f52.33dc38","type":"comment","z":"b4ccfb3c.e690e8","name":"Map intensity on a Map","info":"The intensitites are coming from all the accelerometers","x":300,"y":300,"wires":[]},{"id":"9903fd9a.e02778","type":"comment","z":"b4ccfb3c.e690e8","name":"Time series of Shakes","info":"","x":304,"y":594,"wires":[]},{"id":"4eca0e58.347648","type":"ui_button","z":"b4ccfb3c.e690e8","name":"","group":"1733c5da.ceb6c2","order":2,"width":3,"height":1,"passthru":false,"label":"Intensity","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":80,"y":360,"wires":[["40c34639.d0127"]]},{"id":"56ef42c8.e22934","type":"ui_button","z":"b4ccfb3c.e690e8","name":"","group":"f8bc91e1.4c3588","order":1,"width":3,"height":1,"passthru":false,"label":"Refresh Chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":104,"y":614,"wires":[["1faa0b6f.1f5e2d"]]},{"id":"6030ad75.08af34","type":"debug","z":"b4ccfb3c.e690e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":300,"wires":[]},{"id":"40dbc49f.366acc","type":"http in","z":"c069385a.958228","name":"","url":"/geonet-sensors","method":"get","upload":false,"swaggerDoc":"","x":140,"y":80,"wires":[["be68f463.33874"]]},{"id":"5deb88a4.8a66f8","type":"comment","z":"c069385a.958228","name":"Sensor details for all GeoNet sensor types","info":"","x":410,"y":40,"wires":[]},{"id":"be68f463.33874","type":"http request","z":"c069385a.958228","name":"Get ALL sensorType details","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.geonet.org.nz/network/sensor?sensorType=1,2,3,4,5,6,7,8,9,10","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":80,"wires":[["2468c536.7e401a"]]},{"id":"2468c536.7e401a","type":"change","z":"c069385a.958228","name":"Set sensor details","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.features.{\t   \"layer\": properties.SensorType,\t   \"name\": properties.Station & \"-\" & properties.Location & \"-\" & properties.Code,\t   \"start\": $toMillis(properties.Start),\t   \"end\": $toMillis(properties.End),\t   \"lon\": geometry.coordinates[0],\t   \"lat\": geometry.coordinates[1]\t}","tot":"jsonata"},{"t":"set","p":"headers","pt":"msg","to":"{\t    \"Content-Type\": \"application/JSON\"\t}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":80,"wires":[["64f1607a.dc785","199dbab9.536f6d"]]},{"id":"64f1607a.dc785","type":"debug","z":"c069385a.958228","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":160,"wires":[]},{"id":"f16b6a31.ff9318","type":"inject","z":"c069385a.958228","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":140,"wires":[["be68f463.33874"]]},{"id":"199dbab9.536f6d","type":"http response","z":"c069385a.958228","name":"","statusCode":"","headers":{},"x":430,"y":140,"wires":[]},{"id":"301b09cd.4553ae","type":"http request","z":"b4ccfb3c.e690e8","name":"Get Sensor Details","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/geonet-sensors","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":240,"wires":[["ece60534.fdb7c8"]]},{"id":"881a2c93.7c211","type":"ui_button","z":"b4ccfb3c.e690e8","name":"","group":"96834a3f.08853","order":2,"width":2,"height":1,"passthru":false,"label":"Sensors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":80,"y":240,"wires":[["301b09cd.4553ae"]]},{"id":"ece60534.fdb7c8","type":"split","z":"b4ccfb3c.e690e8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":450,"y":240,"wires":[["9c34e7b3.53a78","6030ad75.08af34"]]},{"id":"412204ff.6da81c","type":"template","z":"b4ccfb3c.e690e8","name":"Display Sensors","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"/map-sensors\" height=500 width=400></iframe>","output":"str","x":380,"y":120,"wires":[["c92d9f33.1c5e7"]]},{"id":"9c34e7b3.53a78","type":"worldmap","z":"b4ccfb3c.e690e8","name":"","lat":"-40","lon":"170","zoom":"5","layer":"OSM","cluster":"3","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/map-sensors","x":650,"y":240,"wires":[]},{"id":"c92d9f33.1c5e7","type":"ui_template","z":"b4ccfb3c.e690e8","group":"96834a3f.08853","name":"Map Sensors","order":4,"width":9,"height":10,"format":"<div align=center ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":610,"y":120,"wires":[[]]},{"id":"c7908364.0be92","type":"comment","z":"b4ccfb3c.e690e8","name":"Map sensor locations","info":"All the accelerometers are plotting the intensities","x":300,"y":180,"wires":[]}]